In [3]:
g = "CTTGAATCTTGGGGCAGGAACTCAGAAAACTTCCAGCCCGGGCAGCGCGCGCTTGGTGCAAGACTCAGGAGCTAGCAGCCCGTCCCCCTCCGACTCTCCGGTGCCGCCGCTGCCTGCTCCCGCCACCCTAGGAGGCGCGGTGCCACCCACTACTCTGTCCTCTGCCTGTGCTCCGTGCCCGACCCTATCCCGGCGGAGTCTCCCCATCCTCCTTTGCTTTCCGACTGCCCAAGGCACTTTCAATCTCAATCTCTTCTCTCTCTCTCTCTCTCTCTCTCTCTCTCTCTCTCTCTCTCTCTCTCTCTCTCTCGCAGGGTGGGGGGAAGAGGAGGAGGAATTCTTTCCCCGCCTAACATTTCAAGGGACACAATTCACTCCAAGTCTCTTCCCTTTCCAAGCCGCTTCCGAAGTGCTCCCGGTGCCCGCAACTCCTGATCCCAACCCGCGAGAGGAGCCTCTGCGACCTCAAAGCCTCTCTTCCTTCTCCCTCGCTTCCCTCCTCCTCTTGCTACCTCCACCTCCACCGCCACCTCCACCTCCGGCACCCACCCACCGCCGCCGCCGCCACCGGCAGCGCCTCCTCCTCTCCTCCTCCTCCTCCCCTCTTCTCTTTTTGGCAGCCGCTGGACGTCCGGTGTTGATGGTGGCAGCGGCGGCAGCCTAAGCAACAGCAGCCCTCGCAGCCCGCCAGCTCGCGCTCGCCCCGCCGGCGTCCCCAGCCCTATCACCTCATCTCCCGAAAGGTGCTGGGCAGCTCCGGGGCGGTCGAGGCGAAGCGGCTGCAGCGGCGGTAGCGGCGGCGGGAGGCAGGATGAGCGCACGCGGTGAGGGCGCGGGGCAGCCGTCCACTTCAGCCCAGGGACAACCTGCCGCCCCAGCGCCTCAGAAGAGAGGACGCGGCCGCCCCAGGAAGCAGCAGCAAGAACCAACCGGTGAGCCCTCTCCTAAGAGACCCAGGGGAAGACCCAAAGGCAGCAAAAACAAGAGTCCCTCTAAAGCAGCTCAAAAGAAAGCAGAAGCCACTGGAGAAAAACGGCCAAGAGGCAGACCTAGGAAATGGCCACAACAAGTTGTTCAGAAGAAGCCTGCTCAGGAGGAAACTGAAGAGACATCCTCACAAGAGTCTGCCGAAGAGGACTAGGGGGCGCCAACGTTCGATTTCTACCTCAGCAGCAGTTGGATCTTTTGAAGGGAGAAGACACTGCAGTGACCACTTATTCTGTATTGCCATGGTCTTTCCACTTTCATCTGGGGTGGGGTGGGGTGGGGTGGGGGAGGGGGGGGTGGGGTGGGGAGAAATCACATAACCTTAAAAAGGACTATATTAATCACCTTCTTTGTAATCCCTTCACAGTCCCAGGTTTAGTGAAAAACTGCTGTAAACACAGGGGACACAGCTTAACAATGCAACTTTTAATTACTGTTTTCTTTTTTCTTAACCTACTAATAGTTTGTTGATCTGATAAGCAAGAGTGGGCGGGTGAGAAAAACCGAATTGGGTTTAGTCAATCACTGCACTGCATGCAAACAAGAAACGTGTCACACTTGTGACGTCGGGCATTCATATAGGAAGAACGCGGTGTGTAACACTGTGTACACCTCAAATACCACCCCAACCCACTCCCTGTAGTGAATCCTCTGTTTAGAACACCAAAGATAAGGACTAGATACTACTTTCTCTTTTTCGTATAATCTTGTAGACACTTACTTGATGATTTTTAACTTTTTATTTCTAAATGAGACGAAATGCTGATGTATCCTTTCATTCAGCTAACAAACTAGAAAAGGTTATGTTCATTTTTCAAAAAGGGAAGTAAGCAAACAAATATTGCCAACTCTTCTATTTATGGATATCACACATATCAGCAGGAGTAATAAATTTACTCACAGCACTTGTTTTCAGGACAACACTTCATTTTCAGGAAATCTACTTCCTACAGAGCCAAAATGCCATTTAGCAATAAATAACACTTGTCAGCCTCAGAGCATTTAAGGAAACTAGACAAGTAAAATTATCCTCTTTGTAATTTAATGAAAAGGTACAACAGAATAATGCATGATGAACTCACCTAATTATGAGGTGGGAGGAGCGAAATCTAAATTTCTTTTGCTATAGTTATACATCAATTTAAAAAGCAAAAAAAAAAAAGGGGGGGGCAATCTCTCTCTGTGTCTTTCTCTCTCTCTCTTCCTCTCCCTCTCTCTTTTCATTGTGTATCAGTTTCCATGAAAGACCTGAATACCACTTACCTCAAATTAAGCATATGTGTTACTTCAAGTAATACGTTTTGACATAAGATGGTTGACCAAGGTGCTTTTCTTCGGCTTGAGTTCACCATCTCTTCATTCAAACTGCACTTTTAGCCAGAGATGCAATATATCCCCACTACTCAATACTACCTCTGAATGTTACAACGAATTTACAGTCTAGTACTTATTACATGCTGCTATACACAAGCAATGCAAGAAAAAAACTTACTGGGTAGGTGATTCTAATCATCTGCAGTTCTTTTTGTACACTTAATTACAGTTAAAGAAGCAATCTCCTTACTGTGTTTCAGCATGACTATGTATTTTTCTATGTTTTTTTAATTAAAAATTTTTAAAATACTTGTTTCAGCTTCTCTGCTAGATTTCTACATTAACTTGAAAATTTTTTAACCAAGTCGCTCCTAGGTTCTTAAGGATAATTTTCCTCAATCACACTACACATCACACAAGATTTGACTGTAATATTTAAATATTACCCTCCAAGTCTGTACCTCAAATGAATTCTTTAAGGAGATGGACTAATTGACTTGCAAAGACCTACCTCCAGACTTCAAAAGGAATGAACTTGTTACTTGCAGCATTCATTTGTTTTTTCAATGTTTGAAATAGTTCAAACTGCAGCTAACCCTAGTCAAAACTATTTTTGTAAAAGACATTTGATAGAAAGGAACACGTTTTTACATACTTTTGCAAAATAAGTAAATAATAAATAAAATAAAAGCCAACCTTCAAAGAAACTTGAAGCTTTGTAGGTGAGATGCAACAAGCCCTGCTTTTGCATAATGCAATCAAAAATATGTGTTTTTAAGATTAGTTGAATATAAGAAAATGCTTGACAAATATTTTCATGTATTTTACACAAATGTGATTTTTGTAATATGTCTCAACCAGATTTATTTTAAACGCTTCTTATGTAGAGTTTTTATGCCTTTCTCTCCTAGTGAGTGTGCTGACTTTTTAACATGGTATTATCAACTGGGCCAGGAGGTAGTTTCTCATGACGGCTTTTGTCAGTATGGCTTTTAGTACTGAAGCCAAATGAAACTCAAAACCATCTCTCTTCCAGCTGCTTCAGGGAGGTAGTTTCAAAGGCCACATACCTCTCTGAGACTGGCAGATCGCTCACTGTTGTGAATCACCAAAGGAGCTATGGAGAGAATTAAAACTCAACATTACTGTTAACTGTGCGTTAAATAAGCAAATAAACAGTGGCTCATAAAAATAAAAGTCGCATTCCATATCTTTGGATGGGCCTTTTAGAAACCTCATTGGCCAGCTCATAAAATGGAAGCAATTGCTCATGTTGGCCAAACATGGTGCACCGAGTGATTTCCATCTCTGGTAAAGTTACACTTTTATTTCCTGTATGTTGTACAATCAAAACACACTACTACCTCTTAAGTCCCAGTATACCTCATTTTTCATACTGAAAAAAAAAGCTTGTGGCCAATGGAACAGTAAGAACATCATAAAATTTTTATATATATAGTTTATTTTTGTGGGAGATAAATTTTATAGGACTGTTCTTTGCTGTTGTTGGTCGCAGCTACATAAGACTGGACATTTAACTTTTCTACCATTTCTGCAAGTTAGGTATGTTTGCAGGAGAAAAGTATCAAGACGTTTAACTGCAGTTGACTTTCTCCCTGTTCCTTTGAGTGTCTTCTAACTTTATTCTTTGTTCTTTATGTAGAATTGCTGTCTATGATTGTACTTTGAATCGCTTGCTTGTTGAAAATATTTCTCTAGTGTATTATCACTGTCTGTTCTGCACAATAAACATAACAGCCTCTGTGATCCCCATGTGTTTTGATTCCTGCTCTTTGTTACAGTTCCATTAAATGAGTAATAAAGTTTGGTCAAAACAGAAAAAAAAAAA"

In [1]:
import pandas as pd
import numpy as np

In [24]:
t1 = "AAUCAAAACACACUACUACCUCU"
t1r= "UUAGUU" #UUGUGUG" #AUGAUGGAGA"
t2 = "AGACCUGAAUACCACUUACCUCA"

In [29]:
if t2[:3] in g:
    print 0

0

In [26]:
g.split(t1r[::-1])

['CTTGAATCTTGGGGCAGGAACTCAGAAAACTTCCAGCCCGGGCAGCGCGCGCTTGGTGCAAGACTCAGGAGCTAGCAGCCCGTCCCCCTCCGACTCTCCGGTGCCGCCGCTGCCTGCTCCCGCCACCCTAGGAGGCGCGGTGCCACCCACTACTCTGTCCTCTGCCTGTGCTCCGTGCCCGACCCTATCCCGGCGGAGTCTCCCCATCCTCCTTTGCTTTCCGACTGCCCAAGGCACTTTCAATCTCAATCTCTTCTCTCTCTCTCTCTCTCTCTCTCTCTCTCTCTCTCTCTCTCTCTCTCTCTCTCTCGCAGGGTGGGGGGAAGAGGAGGAGGAATTCTTTCCCCGCCTAACATTTCAAGGGACACAATTCACTCCAAGTCTCTTCCCTTTCCAAGCCGCTTCCGAAGTGCTCCCGGTGCCCGCAACTCCTGATCCCAACCCGCGAGAGGAGCCTCTGCGACCTCAAAGCCTCTCTTCCTTCTCCCTCGCTTCCCTCCTCCTCTTGCTACCTCCACCTCCACCGCCACCTCCACCTCCGGCACCCACCCACCGCCGCCGCCGCCACCGGCAGCGCCTCCTCCTCTCCTCCTCCTCCTCCCCTCTTCTCTTTTTGGCAGCCGCTGGACGTCCGGTGTTGATGGTGGCAGCGGCGGCAGCCTAAGCAACAGCAGCCCTCGCAGCCCGCCAGCTCGCGCTCGCCCCGCCGGCGTCCCCAGCCCTATCACCTCATCTCCCGAAAGGTGCTGGGCAGCTCCGGGGCGGTCGAGGCGAAGCGGCTGCAGCGGCGGTAGCGGCGGCGGGAGGCAGGATGAGCGCACGCGGTGAGGGCGCGGGGCAGCCGTCCACTTCAGCCCAGGGACAACCTGCCGCCCCAGCGCCTCAGAAGAGAGGACGCGGCCGCCCCAGGAAGCAGCAGCAAGAACCAACCGGTGAGCCCTCTCCTAAGAGACCCAGGGGAAGACCCAAAGGCAGCAAAAACAAGAGTCCCTCTAAAGCAGCTCAAAAGAAAGCAGAAGCCACTGGAGAAAAACGGCCAAGAGGCAGACCTAGGAAATGGCCACAACAAGTTGTTCAGAAGAAGCCTGCTCAGGAGGAAACTGAAGAGACATCCTCACAAGAGTCTGCCGAAGAGGACTAGGGGGCGCCAACGTTCGATTTCTACCTCAGCAGCAGTTGGATCTTTTGAAGGGAGAAGACACTGCAGTGACCACTTATTCTGTATTGCCATGGTCTTTCCACTTTCATCTGGGGTGGGGTGGGGTGGGGTGGGGGAGGGGGGGGTGGGGTGGGGAGAAATCACATAACCTTAAAAAGGACTATATTAATCACCTTCTTTGTAATCCCTTCACAGTCCCAGGTTTAGTGAAAAACTGCTGTAAACACAGGGGACACAGCTTAACAATGCAACTTTTAATTACTGTTTTCTTTTTTCTTAACCTACTAATAGTTTGTTGATCTGATAAGCAAGAGTGGGCGGGTGAGAAAAACCGAATTGGGTTTAGTCAATCACTGCACTGCATGCAAACAAGAAACGTGTCACACTTGTGACGTCGGGCATTCATATAGGAAGAACGCGGTGTGTAACACTGTGTACACCTCAAATACCACCCCAACCCACTCCCTGTAGTGAATCCTCTGTTTAGAACACCAAAGATAAGGACTAGATACTACTTTCTCTTTTTCGTATAATCTTGTAGACACTTACTTGATGATTTTTAACTTTTTATTTCTAAATGAGACGAAATGCTGATGTATCCTTTCATTCAGCTAACAAACTAGAAAAGGTTATGTTCATTTTTCAAAAAGGGAAGTAAGCAAACAAATATTGCCAACTCTTCTATTTATGGATATCACACATATCAGCAGGAGTAATAAATTTACTCACAGCACTTGTTTTCAGGACAACACTTCATTTTCAGGAAATCTACTTCCTACAGAGCCAAAATGCCATTTAGCAATAAATAACACTTGTCAGCCTCAGAGCATTTAAGGAAACTAGACAAGTAAAATTATCCTCTTTGTAATTTAATGAAAAGGTACAACAGAATAATGCATGATGAACTCACCTAATTATGAGGTGGGAGGAGCGAAATCTAAATTTCTTTTGCTATAGTTATACATCAATTTAAAAAGCAAAAAAAAAAAAGGGGGGGGCAATCTCTCTCTGTGTCTTTCTCTCTCTCTCTTCCTCTCCCTCTCTCTTTTCATTGTGTATCAGTTTCCATGAAAGACCTGAATACCACTTACCTCAAATTAAGCATATGTGTTACTTCAAGTAATACGTTTTGACATAAGATGGTTGACCAAGGTGCTTTTCTTCGGCTTGAGTTCACCATCTCTTCATTCAAACTGCACTTTTAGCCAGAGATGCAATATATCCCCACTACTCAATACTACCTCTGAATGTTACAACGAATTTACAGTCTAGTACTTATTACATGCTGCTATACACAAGCAATGCAAGAAAAAAACTTACTGGGTAGGTGATTCTAATCATCTGCAGTTCTTTTTGTACACTTAATTACAGTTAAAGAAGCAATCTCCTTACTGTGTTTCAGCATGACTATGTATTTTTCTATGTTTTTTTAATTAAAAATTTTTAAAATACTTGTTTCAGCTTCTCTGCTAGATTTCTACATTAACTTGAAAATTTTTTAACCAAGTCGCTCCTAGGTTCTTAAGGATAATTTTCCTCAATCACACTACACATCACACAAGATTTGACTGTAATATTTAAATATTACCCTCCAAGTCTGTACCTCAAATGAATTCTTTAAGGAGATGGACTAATTGACTTGCAAAGACCTACCTCCAGACTTCAAAAGGAATGAACTTGTTACTTGCAGCATTCATTTGTTTTTTCAATGTTTGAAATAGTTCAAACTGCAGCTAACCCTAGTCAAAACTATTTTTGTAAAAGACATTTGATAGAAAGGAACACGTTTTTACATACTTTTGCAAAATAAGTAAATAATAAATAAAATAAAAGCCAACCTTCAAAGAAACTTGAAGCTTTGTAGGTGAGATGCAACAAGCCCTGCTTTTGCATAATGCAATCAAAAATATGTGTTTTTAAGATTAGTTGAATATAAGAAAATGCTTGACAAATATTTTCATGTATTTTACACAAATGTGATTTTTGTAATATGTCTCAACCAGATTTATTTTAAACGCTTCTTATGTAGAGTTTTTATGCCTTTCTCTCCTAGTGAGTGTGCTGACTTTTTAACATGGTATTATCAACTGGGCCAGGAGGTAGTTTCTCATGACGGCTTTTGTCAGTATGGCTTTTAGTACTGAAGCCAAATGAAACTCAAAACCATCTCTCTTCCAGCTGCTTCAGGGAGGTAGTTTCAAAGGCCACATACCTCTCTGAGACTGGCAGATCGCTCACTGTTGTGAATCACCAAAGGAGCTATGGAGAGAATTAAAACTCAACATTACTGTTAACTGTGCGTTAAATAAGCAAATAAACAGTGGCTCATAAAAATAAAAGTCGCATTCCATATCTTTGGATGGGCCTTTTAGAAACCTCATTGGCCAGCTCATAAAATGGAAGCAATTGCTCATGTTGGCCAAACATGGTGCACCGAGTGATTTCCATCTCTGGTAAAGTTACACTTTTATTTCCTGTATGTTGTACAATCAAAACACACTACTACCTCTTAAGTCCCAGTATACCTCATTTTTCATACTGAAAAAAAAAGCTTGTGGCCAATGGAACAGTAAGAACATCATAAAATTTTTATATATATAGTTTATTTTTGTGGGAGATAAATTTTATAGGACTGTTCTTTGCTGTTGTTGGTCGCAGCTACATAAGACTGGACATTTAACTTTTCTACCATTTCTGCAAGTTAGGTATGTTTGCAGGAGAAAAGTATCAAGACGTTTAACTGCAGTTGACTTTCTCCCTGTTCCTTTGAGTGTCTTCTAACTTTATTCTTTGTTCTTTATGTAGAATTGCTGTCTATGATTGTACTTTGAATCGCTTGCTTGTTGAAAATATTTCTCTAGTGTATTATCACTGTCTGTTCTGCACAATAAACATAACAGCCTCTGTGATCCCCATGTGTTTTGATTCCTGCTCTTTGTTACAGTTCCATTAAATGAGTAATAAAGTTTGGTCAAAACAGAAAAAAAAAAA']

In [10]:
t1[::-1]

'UCUCCAUCAUCACACAAAACUAA'

In [71]:
rawtxt = pd.read_csv('/home/kira/Downloads/mart_export (4).txt',sep='|',engine='c',lineterminator='>',header=None, error_bad_lines=False)

In [72]:
rawtxt

                 0                                                  1
0  ENSG00000149948  ENST00000403681\nCCACAACAAGTTGTTCAGAAGAAGCCTGC...
1  ENSG00000149948  ENST00000403681\nAAAGCAGAAGCCACTGGAGAAAAACGGCC...
2  ENSG00000149948  ENST00000403681\nCAGCCCGGGATCCCCGGCCTGTCCCTTTA...
3  ENSG00000149948  ENST00000403681\nGAGGAAACTGAAGAGACATCCTCACAAGA...
4  ENSG00000149948  ENST00000403681\nGAACCAACCGGTGAGCCCTCTCCTAAGAG...

In [73]:
rtxt = rawtxt[1]
code = []
dna = []
for i in rtxt:
    st = i.split('\n',1)
    code.append(st[0])
    dna.append(st[1].replace('\n',''))
    
df = pd.DataFrame([code,dna],index = ['Target Gene','dna'])
df

,0,1,2,3,4
Target Gene,ENST00000403681,ENST00000403681,ENST00000403681,ENST00000403681,ENST00000403681
dna,CCACAACAAGTTGTTCAGAAGAAGCCTGCTCAG,AAAGCAGAAGCCACTGGAGAAAAACGGCCAAGAGGCAGACCTAGGA...,CAGCCCGGGATCCCCGGCCTGTCCCTTTAACCCCGCCGCCGGGCGG...,GAGGAAACTGAAGAGACATCCTCACAAGAGTCTGCCGAAGAGGACT...,GAACCAACCGGTGAGCCCTCTCCTAAGAGACCCAGGGGAAGACCCA...

In [113]:
t1 = "AAUCAAAACACACUACUACCUCU"
t1T = "AATCAAAACACACTACTACCTCT"

t0 = "CGCCAACGUUCGAUUUCUACCUCA"
t0T ="CGCCAACGTTCGATTTCTACCTCA"

t2 = "AGACCUGAAUACCACUUACCUCA"
t2T= "AGACCTGAATACCACTTACCTCA"

#2405
t3 = "AUAUCCCCACUACUCAAUACUACCUCUG"
t3T = "ATATCCCCACTACTCAATACTACCTCTG"

t1TR = "UUAGUUUUGUGUGAUGAUGGAGA"
t1r= "UUAGUU"
t1a= "AAUCAA"
t1rb= "UUGAUU"
t1ab= "AACUAA"
t1rT= "TTAGTT"
t1aT= "AATCAA"
t1rbT= "TTGATT"
t1abT= "AACTAA"

In [95]:
dd = df[0]['dna']+df[1]['dna']+df[2]['dna']+df[3]['dna']+df[4]['dna']
dd.find(t1T)
#3699

3888

In [83]:
for i in range(5):
    print len(df[i]['dna'])

33
51
1251
3051
87

In [84]:
33+51+1251+3051+87

4473

In [85]:
df[3]['dna'].find(t1T)

2553

In [93]:
dd = df[0]['dna']+df[1]['dna']+df[2]['dna']+df[3]['dna']+df[4]['dna']
dd.find(t0T)
#1169

1387

In [94]:
1387-1169

218

In [96]:
3888-3699

189

In [98]:
dd = df[0]['dna']+df[1]['dna']+df[2]['dna']+df[3]['dna']+df[4]['dna']
dd.find(t2T)
#2254

2473

In [99]:
2473-2254

219

In [100]:
len(t0T)

24

In [101]:
len(t1T)

23

In [102]:
len(t2T)

23

In [114]:
dd.find(t3T)

2619

In [103]:
rawtxt = pd.read_csv('/home/kira/Downloads/mart_export.txt',sep='|',engine='c',lineterminator='>',header=None, error_bad_lines=False)

In [104]:
rtxt = rawtxt[1]
code = []
dna = []
for i in rtxt:
    st = i.split('\n',1)
    code.append(st[0])
    dna.append(st[1].replace('\n',''))
    
df2 = pd.DataFrame([code,dna],index = ['Target Gene','dna'])
df2

                                                             0
Target Gene                                    ENST00000403681
dna          CAGCCCGGGATCCCCGGCCTGTCCCTTTAACCCCGCCGCCGGGCGG...

In [111]:
df2[0]['dna'].find(t0T)-1169-23

137974

In [108]:
df2[0]['dna'].find(t1T)-3699

137968

In [117]:
df2[0]['dna'].find(t2T)-2254#-24

137998

In [118]:
df2[0]['dna'].find(t3T)-2405#-len(t3T)

137993

In [ ]:
2405
Alignment
5' AUAUCCCCACUACUCAAUACUACCUCUG

In [3]:
rawtxt = pd.read_csv('/home/kira/Downloads/mart_export (5).txt',sep='|',engine='c',lineterminator='>',
                     header=None, error_bad_lines=False)
rawtxt

                 0                                                  1
0  ENSG00000186575  ENST00000413209\nGTAAAGAAGCAGATTTTAGATGAAAAGAT...
1  ENSG00000186575  ENST00000413209\nCTCACCTTGCAGAGCGCCAAGTCCCGAGT...
2  ENSG00000186575  ENST00000413209\nTGCGCTTCCCGCGGGCGCGCGGAGTGAGG...
3  ENSG00000186575  ENST00000413209\nGTACTGGATCATGATGTTTCAAAGGAAGA...
4  ENSG00000186575  ENST00000413209\nATGAAGTGGAAAGGGAAGGACCTCTTTGA...

In [4]:
rtxt = rawtxt[1]
code = []
dna = []
for i in rtxt:
    st = i.split('\n',1)
    code.append(st[0])
    dna.append(st[1].replace('\n',''))
    
df = pd.DataFrame([code,dna],index = ['Target Gene','dna'])
dd = df[0]['dna']+df[1]['dna']+df[2]['dna']+df[3]['dna']+df[4]['dna']

t = "UACAAGAGAUUCUCCUGCCUCA".replace('U','T')
dd.find(t)
#4363

2245

In [7]:
rawtxt = pd.read_csv('/home/kira/Downloads/mart_export (6).txt',sep='|',engine='c',lineterminator='>',
                     header=None, error_bad_lines=False)
rtxt = rawtxt[1]
code = []
dna = []
for i in rtxt:
    st = i.split('\n',1)
    code.append(st[0])
    dna.append(st[1].replace('\n',''))
    
df = pd.DataFrame([code,dna],index = ['Target Gene','dna'])
dd = df[0]['dna']#+df[1]['dna']+df[2]['dna']+df[3]['dna']+df[4]['dna']

t = "UACAAGAGAUUCUCCUGCCUCA".replace('U','T')
dd.find(t)
#4363

-1

In [8]:
len(dd)

443

In [23]:
rawtxt = pd.read_csv('/home/kira/Downloads/sequence.fasta',sep='|',engine='c',lineterminator='>',
                     header=None, error_bad_lines=False)
rtxt = rawtxt[0]
code = []
dna = []
for i in rtxt:
    print i
    st = i.split('\n',1)
    code.append(st[0])
    dna.append(st[1].replace('\n',''))
    
df = pd.DataFrame([code,dna],index = ['Target Gene','dna'])
dd = df[0]['dna']#+df[1]['dna']+df[2]['dna']+df[3]['dna']+df[4]['dna']

t = "UACAAGAGAUUCUCCUGCCUCA".replace('U','T')
dd.find(t[::-1])
#4363

TTTTTTTTTTTTTTTTTTATTTTCCAGCTTAGAATTTTTATTAAAACAATCATTTAAGTTATAATCGTTC
CCCAGAATAGAAAATAGCCTTCTATGATCTGGCCCTGATAGGAGGCAGGACTCGGGCCCTACAGGAAGAA
GTGACGTTTGACATCTTTGAAAATGGATGGCGCTTCCCTGAAAGCCCTGGAGGGGCTGGCTTGGGCCCAG
GGTCACTGGGCCAGGCTGTCTCCCTGCCAACGCTGCTCCCTCCAGGGGTGGTGAGGCCCCACCCTGTCAG
TGAGGAACACTTAGACACTGCAGCTGGTTGTCAGTCTCTGGGCTTTTGACAAAAAAAAGAGAGGGAAAGA
GAGAAACCTGTCCCCAAAATTACAAGACACAGCCACTCATGAAGTGTTATGTAATGCCACGGGGTGCTAT
CTAGCAGGGCCTGGCAGGTACATGAATAATAGGGTGGACAACACAGGTTGGGGGGACTGCTGTGGCTGAG
GTGGGGCCTTGATCAGGATGAACGAAGCCATCTGTGCCACACAGCTGCACACGGCTACTGGCCAAAAGGA
CAGCCTCACGGACATCATGAGCTGGGCAGTGACCTCATGAATGGTCCCGGTGCTGTGGGGCTTCTGCCTG
AGAGCCAGCAGAAGGGCTCGTAATGAAACCACCATGGTCAGGACGCTGCTCTTTGGGCTTGAGACTTCCT
TACTTGACAAACTCCCAGGCCCTAAAATGTTCGCTTAAAAAGGACGCAGTCTGGCCAAGCGCGGTGGCTC
ATGCCTGTAATCCCAGCACTTTGGGAGGCCGAGGTGGGCAGATCACCTGAGGTCGGGAGTTCGAGACCAG
CCTGACCGACATGGAGAAACCCCGTCTCCACTAAAAATACAAAATTAGCCGGACGTGGAGGTGCGTGCCT
GTAATCCCAGCTACTCGGGAGGCTGAGGCAGGAGAATTGCTTGAATCCGGGAGGCGGAGGTTGCGGTGAG
CCGAGATCACGCCATTGCACTCCAGCCTGGGCGACAAAGGCAAAAACTCCGTCTCAAAAAAAAAAAAAAA
AGGATGCAGTCATCCCAGCCACAGGAACCAGTCTGTGAAAACCAGGCATCTCTTTCTTTCTTTCTCCTGC
TACTGGGGCTTGAGATGCTCCTGAGGCCCATCCTCCTCTCCACCTTCTCCATCTGTGGGGAGGCACCTCA
GTATTCCTGCCTCAAGGAGGGGGAAGTGCTCCTGGCTGAGCAAGGTCCTGCAGTTCCCAGCCTGCTCCCT
GGAGCCCCAGGTGCTTCTGCCACAGCTCAAACACCAGCCAGCTCCCTTGAGGCCGCGTGGCTTGGCACTT
CCCAGACTTCAGAAGTAGACACGGCAGCTAAAGAAGGAAACAAAGCCCGACAGCGTTTTTATAAACCACC
ATATGCTCCCACCTGCAGCCATTGTTAAAGAACAAATTTACAGGTCAGGAGGAAAGTAACTCCTGGTGGA
AATCCAGGGATGGGCTTCAAGACTGAGAAGAGACCGGGCATGGTGGCTCACGCCTATAATCCCAGAACTT
TGGGAAGCCGGGGTGGGAGGATCACCTGAGGTCAGGAGTTCGAGACCAGTCTGGCTAACATGGCGAAACC
CCATCTCTACTAAAAATACAAAAATTAGCCAGGCATGGTGGCACACGCCTGTAGTCCCAGCTACTCGGGA
GGCTGAGGCAGGAGAATCTCTTGTACCTGGGAGGCGGAGGTTGCAGTGAGCTGAGATCGTGACACTGCAC
TCCAGCCTGGGCGACAGAGCGAGACTCCATCTCAAAAAAAAAACAGAAACAGAAACAGAAAAAAAAAAAA
AACGGAGGAGGCAGAGCCAGACCTCACTTTACAAACGCCTGAAGCTTCCGCTCCTGGCTGGGTCACACTA
GGAAGACACAGGGCCACAACATCCATACTTACGCTCTAGGTCTGGAGTCCCACCCTGTAGACCCTAAGTG
GCTGGGTGGCACCCAGGGCTGGTTTCCTTGGGGCAAGGTGACCCAAGCAGTTGCCGAGCAGCCCAACCCC
ATTAGGTCAGCCTGATAGTAGGAAGAAGGCAGGATCTCTGTGCTCTGTGAGCTGCTAAGTTTCTCAAAAC
CAGATGGAATTGCCAGAGACCACCTCTGCTCTCCAAAAATCTTGAGGCCCCCATAGCCTCTATCTTTTAT
CTGATTAAGACAAATCACCTGCTTTGCATAACAGCCAAACTGGAAGGATCTCAAGGGCCCTGGCTGGCCA
CAGCAGCATCAGCCATGGAGAAAAGAAAGGGCAAGAAGGGGCTGGGTGCAGTGGCTCATGCCTGTAATCC
CAGGTGTGAGTTTGAGACCAGCCTAGCTAACATGGCAAAACCCCGTCCCTATTAAAAATACAGAACATTG
GCCAAGTGTGGTGGTGCATGCCTGTAGTCCCAGCTACTTGGGAGGCTGAGGCAGGAGAATTGCTTGAACT
CAGGAGGTGGAGGTTGCAGTGAGCCGAGATTGTGCCACCACACTCCCACCTGGGTGACAGAGAGAGACTC
CATCTCGGAAAAAAAAAAAAAAAAAAAAAAAGAAAGGGCAAGAAGGTGGCCCCAGACCAAGGAGTGAGCC
GTGGGGGTGGTTCTGTGGCCCTCTGTTGCCTGGCATGGAGGTGGGTCCTGTGACAGCCTAGGTGAGCGCC
ACCTGTGAGTGGACACCTGCATCAGGCCTGTGCTGGGAGGGGCACAAAGGGCCCTGGCTGGCCCCCAGGG
AACAGAAAATTCAGGGCCCGAAGAGGGACAAGGGCAACAGCAAAGTGAGGCCTGGGTACAACAGTGGGTT
GGGAAGTGGGCTGTGGCCACTGGCACGTGGCTGGGAGGGAAGGTGAAGCAGATGGGCCGTGCAGACTGGG
CCGGTGGAGCTCAGAGTCTGGGCCAGTGAGAAGCAGCACCTGTGGAGCCACAGGGCTTACAGATCCCTGG
TCATAGCCGGGTTACGGGTGCTGACTGCAGTACGACCAGGGAGTACCCCAGCCCCACACAGGAAGGAGCG
TCTATGGGCGTCGGGCAATGGGGAAGACATGAGTGGCTCCTGCCTGCCTCTCGGACCCTGGTCTAGGGTG
GCCGGAGGGGGACAGCGAGTGCCCTGTACCATCAGCTCCCGCACGGCACTACCCAGCCCCTCGGCTGGCA
GTCAGCCTGCATCACAGCTTCTGCCTAAAGTCTCTCCCCAGCCACAGCTGCCCTGCCTATTCCCCACCAG
CTGCCAGCCAGAGCGCCGCCTCGGGGTGCCTGGCGGGGACCCAGCACTTGCTCGTCACGAGCTCTGGGCG
GGCTCCCTGACGATGAGAAGCCGGCAGGCGTGCTGGCCTGGGATCCGCCGGGCTGGGCTGCTTCGCTGCA
TGCCAGGTCCTCACCGGTGGGGGAATGAATGTTCCGGAACCCTGGGCGGGGTGGGGATGATGGCACTGGC
TTCTCAGGGCTTCAGTGTCTCACTCCCTACAATGACTTCCCAGGCTGGGCGGTGGAGGTCAGCTCTGGAG
TGCAAGACACACACACACCGGTGCCTTGGACGAAGGGAGTCAGGAATCCCACATTAGACAAAGGAAGACA
AATACTTCTTAAAACAAAGACTCAGGTCAGAGAACTAGAACGCCATGAGAGAAATCTCTACAGGGTCGTA
GTTCAAGGCAATTGCACATAAGAGGGGCTGGGCTCTTCACTCAGCTGGGGAAAGTTCTGGAGCTCCCACG
GAAACCCCCAGCCAGCTCCCTATGGATGGCTCTCTTGATATCTGGTCCATCCCGCGGTCCCGGTAGCAGG
AGAAGTGGCAGGTCCTGGGGTGGCTGGGTCACCTGCTAGAGCTCTTCAAAGAAGGCCACTCGGGACTTGG
CGCTCTGCAAGGTGAGCTTGGCCTGGACGGCGTAAGAAGCCAGGAGCACAGAAGCCTCAGGAGGGCAGTA
GATCTTTTCATCTAAAATCTGCTTCTTTACCTGTAAGAAGAATAAATGTTGTGTGATCTCCTGAACCAGC
TCCTCTTCAGCATTCTCAGGATAAAATTTGGCCAAGAAGTGAAAGGTGACTGGTTCTTCCTTTGAAACAT
CATGATCCAGTACCTTCTTGTCCATTTTGAGCCAGGCCACTGTGTCCTTGATTGTGTACTGCAGTCCAAA
GAACCAGGTTTCTCGGAGCCCCAGAGTCCGGCACACCAAATCAAAGAGGTCCTTCCCTTTCCACTTCATC
TCGCAATTGAACTCCATCTCGGCGTCCATGGTGACGATCCTCACGGTGAACGTCTTGGGTTGCTTCCTCT
TGAGAGAGCTGAAGCTCATGCGGGAAGCGATGGCCCCGGCCATGGCGCGGGGCTCAGGCCCGGGACCCTC
GCGCCCCACGGCCTGCACTCTGAGCCCTTTAGCCCCCCTGGAGTTGCTGCACAGGCCTCAGGGCCACCAT
GGTGGCCGGCTGCCCGGCCCGGGAACGGTCTGGGCTGCGCGGGTCCCCAGCGGCCAGCATGGGCCGCGAG
GACCCTGCCTGAGCGGAAAGGGGAGTTGGGGGACGGGCCCTGACGGCTGCAGGGAGGGCACAGGAGCCGG
GACCTTCGGTGCAGGCGCGACCCGGCACTCCGGGATTCGGGCCGGAGATGCCGGGGACGCCTCGGGACGG
GACCCCTAGACGGCAGCGGCCCAGACTCCGCGCGCCTCTCAGCGGCCGACTAGGGTCACGGGGCCGCGCT
GCATCGGGCGCGTACGCGCGCGCGTGGCTGTCACCGTCCTCACTCCGCGCGCCCGCGGGAAGCGCA

-1

In [22]:
len(dd)

4686